/* Task-1: */

/* div>h1 {
    text-align: center;
    color: red;
    text-decoration: underline;

}

p {
    font-size: 20px;
    padding-bottom: 10px;
} */



/* Task-2: */

/* 
div>#heading1 {
    text-align: center;
    color: red;
    text-decoration: underline;
    border: none;
    background-color: wheat;
    margin: auto;
    font-size: 30px;
    
}

h2{
    font-size: 30px;
    color: brown;
    text-decoration: underline black;
}

div>h1{
    width: 300px;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
}


#maindiv{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 100px;
    gap: 10px;

} */


/* Task:3 */
/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.card {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

.success {
    background-color: #e8f5e9;
    color: #2e7d32;
}

.error {
    background-color: #ffebee;
    color: #c62828;
}

.card h1 {
    margin-bottom: 15px;
}

.card p {
    font-size: 18px;
    font-weight: bold; 
}

/* Responsive Design */
/* @media (max-width: 600px) {
    .card {
        padding: 20px;
    }

    .card h1 {
        font-size: 24px;
    }

    .card p {
        font-size: 16px;
    }
} */ */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#list {
    width: 90%;
    margin: 30px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
     width: 100%;
    max-width: 400px;
    padding: 30px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    background-color: brown;
    color: beige;
}

.card:hover {
    transform: translateY(-5px);
}

.card h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 30px;
}

.card p {
    margin: 15px 0;
    font-size: 16px;
}

/* Responsive */
@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}